.cast-container {
    text-align: center;
}
@media (min-width: 36em){
    .cast-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: left;
    }
    .cast-container h6{
        width: 100%;
    }
    .cast-style {
        display: grid;
        width: 150px;
        height: 272px;
        padding-bottom: 1rem;
    }
    .cast-style img{
        height: 13rem;
        border-radius: 15px;
    }
    .cast-style h6{
        font-size: 1.2rem;
    }
}
