
@media (min-width: 768px) {

  .fav-container {
    margin-top: 60px;
    margin-bottom: 40px;
    height: calc(100% - 100px);
    overflow-y: auto;
  }

  .fav-container section {
    text-align: center;
  }

  .fav-container h1 {
    margin-bottom: 20px;
  }

  .movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .scrollable {
    overflow-y: auto;
  }
}
