.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    background-color: #FFF2D8;
    /* background-color: #EAD7BB; */
    /* background-color: #fce7fd; */
    z-index: 1;
}


a:hover, a:focus{
    outline: none;
   
}

@media (min-width: 36.06em) {
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: #5d0464; */
   
    
}

.sitelogo {
    width: 300px;
    height: 100px;
    
}


}