.hero{
    position: relative;
    width: 100%;  
}
.hero img{
    max-height: 80vh;
    width: 100%;
    opacity: 0.5;
}

.hero-details h2 {
    font-size: 3rem;
}

.hero-details{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    /* width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 25%; */
}