.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
}

.container > div {
  padding: 20px;
}

.load-btn {
  margin: 20px auto 50px;
  display: block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-btn:hover {
  background-color: #0056b3;
}

