.single-page{
    margin: 0;
    padding: 1rem;
}
.single-container {
    margin-top: 7rem;
}


.image-fav-icon {
    float: left;
    position: relative;
    height: 600px;
    width: auto;
    overflow: hidden;
    margin-top: 1rem;
}

.image-fav-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-details{
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0rem;
}
.movie-details img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

@media (min-width: 50em) {
    .single-container {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 30% 60%;
    }

    
    .movie-details {
        text-align: left;
        margin-top: 5rem;
        margin-left: 2rem;
    }
}