.single-page {
    margin-bottom: 1rem;
    padding: 1rem;


}

.movie-details {
    text-align: left;

}

.single-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;

}


.image-fav-icon {
    float: left;
    position: relative;
    height: 450px;
    width: 288px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.image-fav-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 36em) {
    .single-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .movie-details {

        padding-left: 1.5rem;
    }
}

@media (min-width: 40em) {
    .movie-details {

        margin-right: 2rem;
    }
    .image-fav-icon {
        height: 500px;
        width: 300px;
    }
}

@media (min-width: 50em) {

    .single-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .image-fav-icon {
        height: 600px;
        width: 400px;
    }

}

@media (min-width: 62em) {
    .single-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .movie-details {

        margin-right: 2.5rem;
    }
}

@media (min-width: 80em) {
    .single-container {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 4rem;

    }



}